<a href="https://colab.research.google.com/github/LucasColas/Correction-Sujets-BAC-NSI/blob/main/Compilation_exos_Bac_Pratique_NSI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Entrainement Epreuve Pratique NSI

## Exercice 0

Écrire une fonction recherche qui prend en paramètres elt un nombre entier et tab
un tableau de nombres entiers, et qui renvoie l’indice de la première occurrence de elt
dans tab si elt est dans tab et -1 sinon.

Exemples :

recherche(1, [2, 3, 4])

==> -1

recherche(1, [10, 12, 1, 56])

==> 2

recherche(50, [1, 50, 1])

==> 1

recherche(15, [8, 9, 10, 15])

==> 3

In [ ]:
def recherche(elt,tab):
  for i in range(len(tab)):
    if tab[i] == elt:
      return i
  return -1

recherche(15, [8, 9, 10, 15])

3

Remarque :

In [ ]:
#2 manière de faire un parcours séquentielle:
#1 : parcours avec "index"
for i in range(len(tableau)):
  tableau[i]

#2 : parcours direct : 
for valeur in tableau:
  print(valeur)

## Exercice 1

Écrire une fonction RechercheMinMax qui prend en paramètre un tableau de nombres
non triés tab, et qui renvoie la plus petite et la plus grande valeur du tableau sous la
forme d’un dictionnaire à deux clés ‘min’ et ‘max’. Les tableaux seront représentés sous
forme de liste Python.

Exemple 1 :

tableau = [0, 1, 4, 2, -2, 9, 3, 1, 7, 1]

resultat = rechercheMinMax(tableau)

resultat

{'min': -2, 'max': 9}

Exemple 2 : 

tableau = []
 
resultat = rechercheMinMax(tableau)

resultat

{'min': None, 'max': None}

In [ ]:
def recherche(tab):
  if tab==[]: #len(tab) == 0
    return {'min':None,'max':None}
  mini=tab[0]
  maxi=tab[0]
  for i in tab:
    if i<mini:
        mini=i
    if i>maxi:
        maxi=i
            
  return {'min':mini,'max':maxi}
print(recherche([15,-1,30,500]))

## Exercice 2

Écrire une fonction maxi qui prend en paramètre une liste tab de nombres entiers et qui
renvoie un couple donnant le plus grand élément de cette liste ainsi que l’indice de la
première apparition de ce maximum dans la liste.

Exemple :

maxi([1,5,6,9,1,2,3,7,9,8])

==> (9,3)

In [3]:
def maxi(tab):
  if len(tab) == 0:
    return (None, None)
  max_ = tab[0]
  index_max = 0
  for i in range(len(tab)):
    if max_ < tab[i]:
      max_ = tab[i]
      index_max = i
  
  return (max_, index_max)

maxi([1,5,6,9,1,2,3,7,9,8])

(<function max>, 3)

## Exercice 3

La fonction recherche prend en paramètres deux chaines de caractères gene et
seq_adn et renvoie True si on retrouve gene dans seq_adn et False sinon.

Compléter le code Python ci-dessous pour qu’il implémente la fonction recherche.

In [ ]:
def recherche(gene, seq_adn):
  n = len(seq_adn)
  g = len(gene)
  i = 0
  trouve = False
  while i < n and trouve == False:
    j = 0
    while j < g and gene[j] == seq_adn[i+j]:
      j += 1
    if j == g:
      trouve = True
    i += 1
  return trouve

Exemple : 

recherche("AATC", "GTACAAATCTTGCC")

True

recherche("AGTC", "GTACAAATCTTGCC")

False

## Exercice 4

On considère la fonction insere ci-dessous qui prend en argument un entier a et un
tableau tab d'entiers triés par ordre croissant. Cette fonction insère la valeur a dans le
tableau et renvoie le nouveau tableau. Les tableaux seront représentés sous la forme de
listes python.

In [ ]:
def insere(a, tab):
  l = list(tab) #l contient les mêmes éléments que tab
  l.append(a)
  i = len(l) - 2
  while a < [i] and i >= 0:
    l[i+1] = l[i]
    l[i] = a
    i = i - 1
  return l

insere(3, [1,2,4,5])

[1, 2, 3, 4, 5]

tab = [1,2,4,5]

a = 3

l = [1,2,4,5]

l = [1,2,3,4,5,3]

==> tab = [1,2,3,4,5]

## Exercice 5
On dispose d’un programme permettant de créer un objet de type PaquetDeCarte,
selon les éléments indiqués dans le code ci-dessous.
Compléter ce code aux endroits indiqués par ??? puis ajouter des assertions dans
l’initialiseur de Carte, ainsi que dans la méthode getCarteAt().

In [ ]:
class Carte:
  """Initialise Couleur (entre 1 à 4), et Valeur (entre 1 à
  13)"""
  def __init__(self, c, v):
    self.Couleur = c
    self.Valeur = v

  """Renvoie le nom de la Carte As, 2, ... 10,
  Valet, Dame, Roi"""
  def getNom(self):
    if ( self.Valeur > 1 and self.Valeur < 11):
      return str( self.Valeur)
    elif self.Valeur == 11:
      return "Valet"
    elif self.Valeur == 12:
      return "Dame"
    elif self.Valeur == 13:
      return "Roi"
    else:
      return "As"

  """Renvoie la couleur de la Carte (parmi pique, coeur,
  carreau, trefle"""

  def getCouleur(self):
    return ['pique', 'coeur', 'carreau', 'trefle'][self.Couleur - 1]



class PaquetDeCarte:
  def __init__(self):
    self.contenu = []
  
  """Remplit le paquet de cartes"""
  def remplir(self):
    self.contenu = [Carte(couleur, valeur) for couleur in range(1, 5) for valeur in range(1, 14)]

  """Renvoie la Carte qui se trouve à la position donnée"""
  def getCarteAt(self, pos):
    if 0 <= pos < 52 :
      return self.contenu[pos]

## Exercice 6

Ecrire une fonction qui prend en paramètre un tableau d'entiers non vide et qui renvoie la
moyenne de ces entiers. La fonction est spécifiée ci-après et doit passer les assertions
fournies.

Exemple :

moyenne([1,2,3])

==> 2

In [ ]:
def moyenne(tab):
  '''
  moyenne(list) -> float
  Entrée : un tableau non vide d'entiers
  Sortie : nombre de type float
  Correspondant à la moyenne des valeurs présentes dans le
  tableau
  '''

In [ ]:
def moyenne(tab):
    somme=0
    moy=0
    for elt in tab:
        somme+=elt
    moy=somme/len(tab)
    return moy

moyenne([1,2,3,5])

2.75

## Exercice 7

Soit un nombre entier supérieur ou égal à 1 :
- s'il est pair, on le divise par 2 ;
- s’il est impair, on le multiplie par 3 et on ajoute 1.


Puis on recommence ces étapes avec le nombre entier obtenu, jusqu’à ce que l’on
obtienne la valeur 1.
On définit ainsi la suite (un) par
- u0 = k , où k est un entier choisi initialement ;
- un+1 = un / 2 si un est pair ;
- un+1 = 3×un + 1 si un est impair.
On admet que, quel que soit l’entier k choisi au départ, la suite finit toujours sur la
valeur 1.
Écrire une fonction calcul prenant en paramètres un entier n strictement positif et qui
renvoie la liste des valeurs un , en partant de k et jusqu’à atteindre 1.

Exemple :

calcul(7)

==> [7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
def calcul(n):
    liste=[]
    liste.append(n)
    while n!=1:
        if n%2==0:
            n=n//2
            liste.append(n)
        else:
            n=n*3+1
            liste.append(n)
    return liste