<a href="https://colab.research.google.com/github/LucasColas/Correction-Sujets-BAC-NSI/blob/main/NSI_Bac_Epreuve_Pratique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bac Sujet 1
## Exo 1 
Écrire une fonction recherche qui prend en paramètres caractere, un caractère, et 
mot, une chaîne de caractères, et qui renvoie le nombre d’occurrences de caractere
dans mot, c’est-à-dire le nombre de fois où caractere apparaît dans mot.

Exemples :


 recherche('e', "sciences")

==> 2

recherche('i',"mississippi")

==> 4

recherche('a',"mississippi")

==> 0

In [ ]:
def recherche(caractere, mot):
  count = 0
  for i in range(len(mot)): 
    if mot[i] == caractere:
      count += 1 #count = count + 1 

  return count

mot = "sciences"
caractere = 'e'
recherche(caractere,mot)

In [ ]:
def recherche(caractere, mot):
   x = 0
   for i in mot:
      if i == caractere:
         x+=1
   return x

recherche('e',"sciences")

### Exo 2
On s’intéresse à un algorithme récursif qui permet de rendre la monnaie à partir d’une 
liste donnée de valeurs de pièces et de billets - le système monétaire est donné sous 
forme d’une liste pieces=[100, 50, 20, 10, 5, 2, 1] - (on supposera qu’il n’y a 
pas de limitation quant à leur nombre), on cherche à donner la liste de pièces à rendre 
pour une somme donnée en argument.

Compléter le code Python ci-dessous de la fonction rendu_glouton qui implémente cet 
algorithme et renvoie la liste des pièces à rendre.

Exemple de ce qu'on doit obtenir : 

rendu_glouton(291,[],0)

[100, 100, 50, 20, 20, 1]

In [ ]:
Pieces = [100,50,20,10,5,2,1]
def rendu_glouton(arendre, solution=[], i=0):
  if arendre == 0:
    return solution

  p = Pieces[i]

  if p <= arendre:
    solution.append(p)
    return rendu_glouton(arendre - p, solution, i)
  else :
    return rendu_glouton(arendre, solution, i+1)


rendu_glouton(291,[],0)

# Sujet 2
# Exo 1

Soit le couple (note,coefficient):

-note est un nombre de type flottant (*float) compris entre 0 et 20 ;

-coefficient est un nombre entier positif.

Les résultats aux évaluations d'un élève sont regroupés dans une liste composée de 
couples (note,coefficient).

Écrire une fonction moyenne qui renvoie la moyenne pondérée de cette liste donnée en 
paramètre.

Par exemple, l’expression moyenne([(15,2),(9,1),(12,3)]) devra renvoyer le 

résultat du calcul suivant :
(2 × 15 + 1 × 9 + 3 × 12)/(2 + 1 + 3)
= 12,5

In [ ]:
def moyenne(liste):
  somme_coef = 0
  numerateur = 0
  for i in range(len(liste)):
    #print(liste[i][1])
    somme_coef += liste[i][1] #somme_coef = somme_coef + liste[i][1]
    numerateur += liste[i][1] * liste[i][0]
  #print(somme_coef)

  #print(numerateur)
  return numerateur/somme_coef


moyenne([(15,2),(9,1),(12,3)])

### Ex 2

On cherche à déterminer les valeurs du triangle de Pascal. Dans ce tableau de forme 
triangulaire, chaque ligne commence et se termine par le nombre 1. Par ailleurs, la valeur 
qui occupe une case située à l’intérieur du tableau s’obtient en ajoutant les valeurs des 
deux cases situées juste au-dessus.

Compléter la fonction pascal ci-après. Elle doit renvoyer une liste correspondant au 
triangle de Pascal de la ligne 1 à la ligne n où n est un nombre entier supérieur ou égal à 
2 (le tableau sera contenu dans la variable C). La variable Ck doit, quant à elle, contenir, 
à l’étape numéro k, la k-ième ligne du tableau.

pascal(4)
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
def pascal(n):
  C= [[1]]
  for k in range(1,n+1): 
    Ck = [1]
    for i in range(1,k): 
      s = C[k-1][i-1]+C[k-1][i]
      Ck.append(s)
    Ck.append(1)
    C.append(Ck)
  return C


pascal(5)

# Sujet 3

In [ ]:
#EXO 1

def delta(tab):
  if len(tab) == 1:
    return tab

  resultat = []
  resultat.append(tab[0])
  for i in range(1, len(tab)): 
    soustraction = tab[i] - tab[i-1]
    resultat.append(soustraction)
  return resultat

delta([42])

[42]

In [ ]:
#EXO 2
def expression_infixe(e):
    s = ''
    if e.gauche is not None:
        s = '(' + s + expression_infixe(e.gauche)
    s = s + str(e.valeur)
    if e.droit is not None:
        s = s + expression_infixe(e.droit) + ')'
    return s

# Sujet 4

In [ ]:
#Exo 1
def recherche(tab):
  res = []
  for i in range(0, len(tab)-1):
    if tab[i] - tab[i+1] == -1:
      res.append((tab[i], tab[i+1]))
  return res

recherche([5, 1, 2, 3, 8, -5, -4, 7])

[(1, 2), (2, 3), (-5, -4)]

In [ ]:
[[0,0,1,0], [0,1,0,1], [1,1,1,0], [0,1,1,0]]

In [ ]:
#Exo 2
def propager(M, i, j, val):
  if M[i][j]== 0:
    return
  M[i][j]=val

  # l'élément en haut fait partie de la composante
  if ((i-1) >= 0 and M[i-1][j] == 1):
    propager(M, i-1, j, val)

  # l'élément en bas fait partie de la composante
  if ((i+1) < len(M) and M[i+1][j] == 1):
    propager(M, i+1, j, val)
    
  # l'élément à gauche fait partie de la composante
  if ((j-1) >= 0 and M[i][j-1] == 1):
    propager(M, i, j-1, val)
  # l'élément à droite fait partie de la composante
  if ((j+1) < len(M) and M[i][j+1] == 1):
    propager(M, i, j+1, val)

# Sujet 5

In [ ]:
def RechercheMinMax(tab):
  resultat = {'min':None, 'max':None}

  if len(tab) == 0:
    return resultat

  resultat['min'] = tab[0]
  resultat['max'] = tab[0]

  for num in tab:
    if num < resultat['min']:
      resultat['min'] = num 

    elif num > resultat['max']:
      resultat['max'] = num

  return resultat

tableau = []
RechercheMinMax(tableau)

{'max': None, 'min': None}

In [ ]:
class Carte:
  """Initialise Couleur (entre 1 à 4), et Valeur (entre 1 à
  13)"""
  def __init__(self, c, v):
    assert c in range(1,5)
    assert v in range(1,14)
    self.Couleur = c
    self.Valeur = v

  """Renvoie le nom de la Carte As, 2, ... 10,
  Valet, Dame, Roi"""
  def getNom(self):
    if ( self.Valeur > 1 and self.Valeur < 11):
      return str( self.Valeur)
    elif self.Valeur == 11:
      return "Valet"
    elif self.Valeur == 12:
      return "Dame"
    elif self.Valeur == 13:
      return "Roi"
    else:
      return "As"
  """Renvoie la couleur de la Carte (parmi pique, coeur,
  carreau, trefle"""

  def getCouleur(self):
    return ['pique', 'coeur', 'carreau', 'trefle'][self.Couleur - 1]

class PaquetDeCarte:
  def __init__(self):
    self.contenu = []

  """Remplit le paquet de cartes"""
  def remplir(self):
    self.contenu = [Carte(couleur, valeur) for couleur in range(1, 5) for valeur in range(1, 14)]

    #for valeur in range(1,14):
      #couleur in range(1,5):
        #self.contenu.append(Carte(couleur, valeur))

  """Renvoie la Carte qui se trouve à la position donnée"""
  def getCarteAt(self, pos):
    assert pos in range(0, 52)
    if 0 <= pos < 52:
      return self.contenu[pos]

# Sujet 7

## Exercice 1

In [ ]:
def conv_bin(n):
  L = []
  while n > 0:
    L.append(n%2)
    n = n//2

  L.reverse()
  return (L, len(L))

conv_bin(4)

([1, 0, 0], 3)

## Exercice 2

In [ ]:
def tri_bulles(T):
  n = len(T)
  for i in range(n-1,0,-1):
    for j in range(i):
      if T[j] > T[i]:
        temp = T[j]
        T[j] = T[j+1]
        T[j+1] = temp
  return T


tri_bulles([5,4,2,9,1,3])

[1, 2, 3, 9, 4, 5]

# Sujet 8
Écrire une fonction recherche qui prend en paramètres elt un nombre entier et tab
un tableau de nombres entiers, et qui renvoie l’indice de la première occurrence de elt
dans tab si elt est dans tab et -1 sinon.

Exemples :

recherche(1, [2, 3, 4])

-1


recherche(1, [10, 12, 1, 56])

2

recherche(50, [1, 50, 1])

1

recherche(15, [8, 9, 10, 15])

3

In [ ]:
def recherche(elt, tab):
  for i in range(len(tab)):
    if tab[i] == elt:
      return i 
  return -1

recherche(15, [8, 9, 10, 15])

3

## Exo 2

On considère la fonction insere ci-dessous qui prend en argument un entier a et un
tableau tab d'entiers triés par ordre croissant. Cette fonction insère la valeur a dans le
tableau et renvoie le nouveau tableau. Les tableaux seront représentés sous la forme de
listes python.

In [ ]:
def insere(a, tab):
  l = list(tab) #l contient les mêmes éléments que tab
  l.append(a)
  i = len(l)-2
  while a < l[i] and i >= 0:
    l[i+1] = l[i]
    l[i] = a
    i = i - 1
  return l

insere(3,[1,2,4,5])

[1, 2, 3, 4, 5]

# Sujet 9

### Exo 1


Soit un nombre entier supérieur ou égal à 1 :
- s'il est pair, on le divise par 2 ;
- s’il est impair, on le multiplie par 3 et on ajoute 1.
Puis on recommence ces étapes avec le nombre entier obtenu, jusqu’à ce que l’on
obtienne la valeur 1.

On définit ainsi la suite (un) par
- u0 = k , où k est un entier choisi initialement ;
- un+1 = un / 2 si un est pair ;
- un+1 = 3×un + 1 si un est impair.

On admet que, quel que soit l’entier k choisi au départ, la suite finit toujours sur la
valeur 1.
Écrire une fonction calcul prenant en paramètres un entier n strictement positif et qui
renvoie la liste des valeurs un , en partant de k et jusqu’à atteindre 1.

In [ ]:
def calcul(n):
  un = n 
  res = []

  while un > 1:
    res.append(un)
    if un%2 == 0:
      un = un // 2
    else:
      un = 3*un + 1

  res.append(un)
  return res

calcul(297)

### Exo 2

In [ ]:
dico = {"A":1, "B":2, "C":3, "D":4, "E":5, "F":6, "G":7, "H":8, "I":9, "J":10, "K":11, "L":12, "M":13,
        "N":14, "O":15, "P":16, "Q":17, "R":18, "S":19, 
        "T":20, "U":21,"V":22, "W":23, "X":24, "Y":25, "Z":26}

def est_parfait(mot) :
  #mot est une chaîne de caractères (en lettres majuscules)
  code_c = ""
  code_a = 0
  for c in mot:
    code_c = code_c + str(dico[c])
    code_a = code_a + dico[c]
  code_c = int(code_c)
  if code_c%code_a == 0:
    mot_est_parfait = True
  else :
    mot_est_parfait = False
  return [code_a, code_c, mot_est_parfait]

est_parfait("PAUL")

[50, 1612112, False]

# Sujet 10

### Exo 1


L’occurrence d’un caractère dans un phrase est le nombre de fois où ce caractère est
présent.

Exemples :
* l’occurrence du caractère ‘o’ dans ‘bonjour’ est 2 ;
* l’occurrence du caractère ‘b’ dans ‘Bébé’ est 1 ;
* l’occurrence du caractère ‘B’ dans ‘Bébé’ est 1 ;
* l’occurrence du caractère ‘ ‘ dans ‘Hello world !’ est 2.

On cherche les occurrences des caractères dans une phrase. On souhaite stocker ces
occurrences dans un dictionnaire dont les clefs seraient les caractères de la phrase et
les valeurs l’occurrence de ces caractères.
Par exemple : avec la phrase 'Hello world !' le dictionnaire est le suivant :

{'H': 1,'e': 1,'l': 3,'o': 2,' ': 2,'w': 1,'r': 1,'d': 1,'!': 1}

(l’ordre des clefs n’ayant pas d’importance).
Écrire une fonction occurence_lettres avec prenant comme paramètre une variable
phrase de type str. 

Cette fonction doit renvoyer un dictionnaire de type constitué des
occurrences des caractères présents dans la phrase.

In [ ]:
def occurence_lettres(phrase): 
  dico = {}
  for l in phrase:
    if l in dico.keys():
      dico[l] += 1
    else:
      dico[l] = 1
  return dico

phrase = "Hello World !"
occurence_lettres(phrase)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 2, 'W': 1, 'r': 1, 'd': 1, '!': 1}

In [ ]:
#exo 1
from collections import defaultdict

def occurence_lettres(phrase): 
  dico = defaultdict(int)
  for l in phrase:
    dico[l] += 1
  return dico

phrase = "Hello World !"
occurence_lettres(phrase)

defaultdict(int,
            {'H': 1,
             'e': 1,
             'l': 3,
             'o': 2,
             ' ': 2,
             'W': 1,
             'r': 1,
             'd': 1,
             '!': 1})

### Exo 2
Faire une fonction qui fusionne deux listes (L1,L2) triées. La nouvelle liste sera triée aussi.

In [ ]:
def fusion(L1,L2):
    n1 = len(L1)
    n2 = len(L2)
    L12 = [0]*(n1+n2)
    i1 = 0
    i2 = 0
    i = 0
    while i1 < n1 and i2 < n2:
      if L1[i1] < L2[i2]:
        L12[i] = L1[i1]
        i1 = i1 + 1
      else:
        L12[i] = L2[i2]
        i2 = i2 + 1
      i += 1
    while i1 < n1:
      L12[i] = L1[i1]
      i1 = i1 + 1
      i = i + 1
    while i2 < n2:
      L12[i] = L2[i2]
      i2 = i2 + 1
      i = i + 1
    return L12

fusion([1,6,10],[0,7,8,9])

[0, 1, 6, 7, 8, 9, 10]

# Sujet 11

## Exo 1

Écrire une fonction recherche qui prend en paramètres un tableau tab de nombres
entiers triés par ordre croissant et un nombre entier n, et qui effectue une recherche
dichotomique du nombre entier n dans le tableau non vide tab.
Cette fonction doit renvoyer un indice correspondant au nombre cherché s’il est dans le
tableau, -1 sinon.


Exemples:


 recherche([2, 3, 4, 5, 6], 5)

3

 recherche([2, 3, 4, 6, 7], 5)

-1

In [2]:
def recherche(tab, n):
  a = 0
  b = len(tab)-1
  while a <= b:
    m = (a+b)//2
    if tab[m] == n:
      return m 
    else:
      if tab[m] < n:
        a = m+1
      else:
        b = m - 1

  return -1

recherche([2, 3, 4, 6, 7], 5)

-1

## Exo 2

Le codage de César transforme un message en changeant chaque lettre en la décalant
dans l’alphabet.

Par exemple, avec un décalage de 3, le A se transforme en D, le B en E, ..., le X en A,
le Y en B et le Z en C. Les autres caractères (‘!’,’ ?’...) ne sont pas codés.


La fonction position_alphabet ci-dessous prend en paramètre un caractère lettre
et renvoie la position de lettre dans la chaîne de caractères ALPHABET s’il s’y trouve
et -1 sinon.

La fonction cesar prend en paramètre une chaîne de caractères message et un nombre
entier decalage et renvoie le nouveau message codé avec le codage de César utilisant
le décalage decalage.

In [5]:
ALPHABET='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
def position_alphabet(lettre):
  return ALPHABET.find(lettre)

position_alphabet('Z')

25

In [7]:
ALPHABET='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
def position_alphabet(lettre):
  return ALPHABET.find(lettre)


def cesar(message, decalage):
  resultat = ''
  for lettre in message:
    if lettre in ALPHABET:
      indice = (position_alphabet(lettre)+decalage)%26
      resultat = resultat + ALPHABET[indice]
    else:
      resultat = resultat + lettre
  return resultat

cesar('GTSOTZW F YTZX. ANAJ QF RFYNJWJ SXN !',-5)

'BONJOUR A TOUS. VIVE LA MATIERE NSI !'